<!DOCTYPE html>
<!--
 * Copyright statement *
 * This site template is provided free of charge by WEBJIKE
 * Official Website: http://webjike.com
 * GitHub：https://github.com/xiaodai945/webjike
-->
<html lang="zh-cn">
  <head>
    <stl:include file="@/include/header.html"></stl:include>
  </head>
  <body>
    <!--[if lt IE 8]>
    <div class="alert alert-danger">您正在使用 <strong>过时的</strong> 浏览器. 是时候 <a href="http://browsehappy.com/">更换一个更好的浏览器</a> 来提升用户体验.</div>
    <![endif]-->
    <!--头部导航条-->
    <header>
      <stl:include file="@/include/nav.html"></stl:include>
    </header>
    <div id="content">
      <!--导航条-->
      <div class="mask"></div>
      <div class="left-bar">
        <div class="header"><h2>导航目录</h2></div>
        <nav class="menu" data-ride="menu">
          <ul id="treeMenu" class="tree tree-menu" data-ride="tree">
            <stl:channels channelIndex="导航目录">
              <li>
                <stl:a><i class="{stl:channel type=icon_class}"></i>{stl:channel type=Title}</stl:a>
                <ul>
                  <!--从首页向下循化3级栏目列表：0为首页-->
                  <stl:channels>
                    <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
                    <li><stl:a href="@/{stl:channel type=mao_link_id upLevel=1}.html{stl:channel type=mao_link}"><i class="{stl:channel type=icon_class}"></i>{stl:channel type=Title}</stl:a></li>
                  </stl:channels>
                </ul>
              </li>
            </stl:channels>
           </ul>
        </nav>
        <div class="menu-about">
          <p>{stl:value type=menu_adout}</p>
          <!--版权申明，请遵守MIT开源协议，勿删除-->
          <p>Powered by <a href="http://webjike.com" target="_blank" style="color:#98c1ff">小呆导航</a></p>
        </div>
      </div>
      <!--内容-->
      <div class="main">
        <div class="container mainContent">
          <div class="row article-box">
            <div class="col-md-8">
              <ul>
                <stl:pageContents channelIndex="{channel.Title}" order="AddDate" pageNum="10" scope="All" isDynamic="true">
                  <li class="article-item">
                    <h2><stl:a target="_blank">{content.Title}</stl:a></h2>
                    <div class="info">
                      <span class="author"><i class="icon icon-user"></i>作者：{content.Author}</span>
                      <span> · {content.AddDate}</span>
                      <span class="info-tags">
                        <stl:tags content="Content" totalNum="5">
                          <a href="{Stl.SiteUrl}/utils/tags.html?tagName={Tag.Name}" class="label label-warning" target="_blank">{Tag.Name}</a>
                        </stl:tags>
                      </span>
                      <stl:if testType="IsTop" testValue="True">
                        <stl:yes>
                          <span class="label label-danger"><i class="fa fa-anchor"></i>置顶</span>
                        </stl:yes>
                      </stl:if>
                    </div>
                    <div class="article-img">
                      <stl:a target="_blank"><stl:image></stl:image></stl:a>
                    </div>
                    <div class="article-guide">
                      <p>{content.Summary}</p>
                    </div>
                    <stl:a class="btn btn-warning" target="_blank">阅读全文 >></stl:a>
                  </li>
                </stl:pageContents>
              </ul>
              <div class="articlePage">
                <stl:pageItems autoHide="true">
                  <ul class="pager pager-loose">
                    <stl:pageItem type="PreviousPage">
                      <stl:yes>
                        <li class="previous"><a href="{Current.Url}">« 上一页</a></li>
                      </stl:yes>
                      <stl:no>
                        <li class="previous disabled"><a href="your/nice/url">« 上一页</a></li>
                      </stl:no>
                    </stl:pageItem>
                    <stl:pageItem type="PageNavigation" listNum="5">
                      <stl:yes>
                        <li class=""><a href="{Current.Url}">{Current.Num}</a></li>
                      </stl:yes>
                      <stl:no>
                        <li class="active"><a href="javascript:;">{Current.Num}</a></li>
                      </stl:no>
                    </stl:pageItem>
                    <stl:pageItem type="NextPage">
                      <stl:yes>
                        <li class="next"><a href="{Current.Url}">» 下一页</a></li>
                      </stl:yes>
                      <stl:no>
                        <li class="next disabled"><a href="your/nice/url">» 下一页</a></li>
                      </stl:no>
                    </stl:pageItem>
                  </ul>
                </stl:pageItems>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-12 col-sm-6">
                  <div class="widget hot-news">
                    <h3>热门推荐</h3>
                    <ul>
                      <stl:contents channelIndex="个人博客"  isRecommend="true" isDynamic="true">
                        <li><stl:a class="text-ellipsis" title="{content.Title}">{content.Title}</stl:a></li>
                      </stl:contents>
                    </ul>
                  </div>
                </div>
                <div class="col-md-12 col-sm-6">
                  <div class="widget tags">
                    <h3>热门标签</h3>
                    <div class="tags-list">
                      <stl:tags context="Channel" totalNum="15" isOrderByCount="true">
                        <a href="{Stl.SiteUrl}/utils/tags.html?tagName={Tag.Name}">{Tag.Name}</a>
                      </stl:tags>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--页脚-->
        <stl:include file="@/include/footer.html"></stl:include>
      </div><!--内容区域-->
    </div>
    <div id="get-top" title="回到顶部"><i class="icon icon-arrow-up"></i></div>
    <!--[if lt IE 9]>
    <script src="dist/lib/ieonly/html5shiv.js"></script>
    <script src="dist/lib/ieonly/respond.js"></script>
    <![endif]-->
    <!-- jQuery (ZUI中的Javascript组件依赖于jQuery) -->
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <!-- ZUI Javascript组件 -->
    <script src="{Stl.SiteUrl}/dist/js/zui.js"></script>
    <script src="{Stl.SiteUrl}/js/js.js"></script>
  </body>
</html>


